h1{
    text-align: center;
    color: green; 
}
h2{
    text-align: center;
}
nav{
    text-align: center;
    
}

.bannerheading{
    max-width:20%;
}
a{
    color:rgb(8, 56, 11);
}

a:hover{
    color:green;
}

.introtext{
    margin-left:6em;
    margin-right:6em;
    margin-top:3em;
    text-align: center;
    margin-bottom:4em;
}

 
    
#skipbutton {
    position: absolute;
    left: -99px;
    background-color: white;
    border: 1px solid black;
}

#skipbutton:focus{
    position: absolute;
    left: 10px;
   
    
}

    



body{
    font-family: georgia, serif;
    background-color: rgb(228, 255, 228);
}

.breakfasthomeimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    

    
}

.bfastintro{
    display: block;
    padding:2em;
    font-size:19px;
    font-weight: bold;
    text-align: center;
    
}




.dormcookingimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
    margin-bottom: 2em
}

.dormintro{
    display: block;
    margin-left: 27em;
    margin-right: auto;
    padding:2em;
    font-size:19px;
}


.aboutmeimg{
    padding: 4em;
    max-width: 30%;
    height: 100%;
    flex:1;

        
    
}


.aboutme{
    flex:1;
    display:flex;
    flex:1;
}

@media only screen and (max-width: 100%){
    .aboutmeimg{
        max-width: 100%;
        width:500px
    }
    
}


.aboutmetext{
    flex-wrap:wrap;
    padding: 2em;
    margin-top:6em;
    margin-right: 3em;
}

.part1{
    margin-bottom: 2em;
}

.bfast1{
    flex:1;
}



h2{
    margin-top:1.5em;
}
h3{
    margin-left: 8em;
    margin-top:8em;
}


.oatmealbfast{
    float:left;
    padding:4em;
    margin-left:5em;
    max-width: 30%;

}

.oatmealdirections{
   padding:4em;
   margin-top:10em;
    border-radius: 9em;
    background-color: rgb(255, 144, 80);
    margin-left:38em;
    padding:4em;
   
    
}



.oatmealtxt{

    margin-left:9em;

}



.potatohashbfast{
    max-width: 30%;
    margin-left: 5em;
    padding:4em;
    float:left;
}
.potatotxt{
    margin-left:9em;
   
    
}

.potatodirections{
  margin-top:6em;
    border-radius: 9em;
    background-color: rgb(255, 144, 80);
     margin-left:37em;
     padding:4em;
    
  

}

.pancakebfast{
    float:left;
    padding:4em;
    margin-left: 3em;
    max-width:30%;
    

    
}

.pancakedirections{
    margin-top:4em;
    border-radius: 9em;
    background-color: rgb(255, 144, 80);
     margin-left:37em;
     padding:4em;
    
    
}

.clear{
    clear:both;
}



.pancaketxt{
    margin-left:9.5em;
    
}

.dormintro{
    margin-left:6em;
    margin-right:6em;
    text-align: center;
    font-size: 1em;
    
}



.mainflexbox{
    display:flex;
}


.electricpan{
    display: block;
    max-width:70%;
    margin-left:5em;
    padding:2em;
 
    
}

.electricpantxt{
    margin-left:7em;
    margin-right:5em;
    border-radius: 9em;
    background-color: rgb(255, 144, 80);
    padding:1.5em;

}



.kettle{
    flex:2;
    display: block;
    width: 50%;
    margin-left:5em;
    padding:2em;
    
}

.kettletxt{
    margin-left:7em;
    margin-right:5em;
    border-radius: 9em;
    background-color: rgb(255, 144, 80);
    padding:1.5em;
}


.cuttingboard{
    display: block;
    width: 45%;
    padding:2em;
    margin-left:5em;
}

.cuttingboardtxt{
    margin-left:7em;
    margin-right:5em;
    border-radius: 9em;
    background-color: rgb(255, 144, 80);
    padding:1.5em;
}

.blender{
    display: block;
    width: 60%;
    padding:2em;
    margin-left:5em;

}

.blendertxt{
    margin-left:7em;
    margin-right:5em;
    border-radius: 9em;
    background-color: rgb(255, 144, 80);
    padding:1.5em;

}

.airfryers{
    display: block;
    width: 50%;
    margin-left:6em;
    margin-top:0em;
    padding:2em;
  
}

.airfryertxt{
    margin-left:8em;
    margin-right:5em;
    border-radius: 9em;
    background-color: rgb(255, 144, 80);
    padding:1.5em;
  
}

.toasteroven{
    display: block;
    width: 70%;
    padding:2em;
    margin-top:5em;
    margin-left:4em;
}

.toasteroventxt{
    margin-left:6em;
    margin-right:5em; border-radius: 9em;
    background-color: rgb(255, 144, 80);
    padding:2em;
}

.griddle{
    display: block;
    width: 55%;
    margin-top:6em;
    margin-left:4em;
    padding:2em;
    
}

.griddletxt{
    margin-left:6em;
    margin-right:5em;
    border-radius: 9em;
    background-color: rgb(255, 144, 80);
    padding:2em;
}

.kureig{
    display: block;
    width: 54%;
    padding:2em;
    margin-top:2.5em;
    margin-left:4em;
}

.kureigtxt{
    margin-left:6em;
    margin-right:5em;
    border-radius: 9em;
    background-color: rgb(255, 144, 80);
    padding:1.5em;
}
.footer{
    display: flex;
}
.email{
    width: 70px;
}
.linkedin{
    width: 50px;
}



