h1{
    text-align: center;
    color: green; 
}
h2{
    text-align: center;
    margin-bottom: 4em;
}
nav{
    text-align: center;
}
a{
    color:black;
}

a:hover{
    color:green;
}

.introtext{
    margin-left:6em;
    margin-right:6em;
    margin-top:3em;
    text-align: center;
    margin-bottom:4em;
}

 #skipbutton{
    position: absolute;
    left: -99px;
    background-color: white;
    border: 1px solid black;
}
    
#skipbutton{
    position:absolute;
    left:10px;
    
}


body{
    font-family: georgia, serif;
    background-color: rgb(228, 255, 228);
}

.breakfasthomeimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    

    
}

.bfastintro{
    display: block;
    margin-left: 31em;
    margin-right: auto;
    padding:2em;
    font-size:19px;
    font-weight: bold;
    
}




.dormcookingimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
    margin-bottom: 2em
}

.dormintro{
    display: block;
    margin-left: 27em;
    margin-right: auto;
    padding:2em;
    font-size:19px;
    font-weight: bold;
}


.aboutmeimg{
    padding: 4em;
    max-width: 30%;
    flex:1;

        
    
}


.aboutme{
    flex:1;
    display:flex;
    flex:1;
}

@media only screen and (max-width: 100%){
    .aboutmeimg{
        max-width: 100%;
        width:500px
    }
    
}


.aboutmetext{
    flex-wrap:wrap;
    padding: 2em;
    margin-top:6em;
    margin-right: 3em;
}

.part1{
    margin-bottom: 2em;
}

.bfast1{
    flex:1;
}



h2{
    margin-top:1.5em;
}
h3{
    margin-left: 10em;
    margin-top:3em;
}


.oatmealbfast{
    float:left;
    padding:4em;
    margin-left:5em;

}

.oatmealdirections{
    padding:12em;
    
}



.oatmealtxt{
   
    padding: 2em;
    margin-left:8em;

}



.potatohashbfast{
    max-width: 32%;
    margin-left: 5em;
    padding:4em;
    float:left;
}
.potatotxt{
    margin-left:8.3em;
    padding:2em;
}

.potatodirections{
  margin-top:7em;

}

.pancakebfast{
    float:left;
    padding:4em;
    margin-left: 3em;

    
}

.pancakedirections{
    padding:5em;
    
}

.clear{
    clear:both;
}



.pancaketxt{
    margin-left:8.5em;
    padding:2em;
}

.dormintro{
    margin-left:6em;
    margin-right:6em;
    margin-top:3em;
    text-align: center;
    margin-bottom:4em;
}

.electricpan{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 2em
    
}



.kettle{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
    margin-bottom: 2em
}

.cuttingboard{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
    margin-bottom: 2em
}

.blender{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
    margin-bottom: 2em
}

.airfryers{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
    margin-bottom: 2em
}

.toasteroven{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
    margin-bottom: 2em
}

.griddle{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
    margin-bottom: 2em
}

.kureig{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
    margin-bottom: 2em
}
.footer{
    display: flex;
}
.email{
    width: 70px;
}
.linkedin{
    width: 50px;
}



