h1{
    text-align: center;
    color: green; 
}
h2{
    text-align: center;
    margin-bottom: 4em;
}
nav{
    text-align: center;
}
a{
    color:black;
}
a:hover{
    color:green;
}
.introtext{
    margin-left:6em;
    margin-right:6em;
    margin-top:3em;
    text-align: center;
    
}
body{
    font-family: georgia, serif;
}

.breakfasthomeimg{
    box-sizing: border-box;
    max-width:27%;
    float: left;
    margin-left: 2em;
    margin-top: 6em;

    
}



.lunchhomeimg{
    max-width: 33.5%;
    box-sizing: border-box;
    margin-left: 5.5em;
    margin-top: 6em;
   

    
}
.dinnerhomeimg{
    max-width: 22.3%;
    box-sizing: border-box;
    float: right;
    margin-right: 2em;
    margin-top: 6em;
    
}
.dormcookingimg{
    padding: 6em;
    margin-left:25.8em;
}

.aboutmeimg{
    padding: 4em;
    max-width: 30%;
    flex:1;
    margin:auto;
   
}

.aboutme{
    flex:1;
    display:flex;
    flex:1;
}
.aboutmetext{
    flex-wrap:wrap;
    padding: 2em;
    margin-top:6em;
    margin-right: 3em;
}

.part1{
    margin-bottom: 2em;
}

.bfast1{
    flex:1;
}

h3{
    margin-left: 10em;
  
}
.oatmealbfast{
    margin-left:10em;
}

.oatmealtxt{
   
    padding: 2em;
    margin-left:9em;
    margin-right: 34em;
}



.email{ 
    float:left;
    flex:1;
    max-width: 20%;
}

.linkedin{
    max-width: 20%;
    flex:1;
    float:left;

}


