nav{
    background-color: #ace7ac;
    padding: 10px;
    margin-bottom: 30px;
}
a{
    color:#e77b49
}
a:hover{
    color:#90c9eb
}

h1{
    color:#f78cc7
}

h2{
   
    color: #2a95d3;
    
}
body{
    background-color: #f0f8ff;
    color:#972363
}
.quote{
    float: right;
}
