
    body{font-family: Georgia, 'Times New Roman', Times, serif;} 
    h1,h2 {color:rgb(26, 124, 26)}
    .evenrow{background-color: rgb(153, 186, 248)}
    h1{font-size: 3em;}
    h2{font-size:2em;}
     
